{{#with user}}
<form action="/edit-profile" id="profile-form" method="POST" enctype="multipart/form-data">
  <div class="profile">
    <div class="text-center position-relative align-items-center m-auto d-flex flex-column">
        Profile Picture
      <label for="image-upload" class="btn btn-light border-1 border border-dark-subtle my-4 mx-4 d-flex align-items-center justify-content-center text-center opacity-75" style="height: 10rem; width: 10rem">
        <img id="image-placeholder" src="{{avatar}}" alt="Choose Image" style="z-index: -1; width: 100%; height: 100%; opacity: 100%"/>
        <i class="bi bi-arrow-bar-up icon-100 position-absolute "></i>
      </label>
      <input type="file" name="image" id="image-upload" style="display: none">
    </div>

    <div class="profile-details">
      <label for="fullName">Profile Name</label>
      <input type="text" placeholder="Profile Name" name="fullName" id="fullName" value="{{name}}" class="form-control name-input">

      <hr>
      <label for="username">Profile Alias (Username) </label>
      <input type="text" placeholder="Profile Alias" name="username" id="username" value="{{username}}" class="form-control name-input">
      <hr>

      <label for="bio">Profile Bio</label>
      <textarea name="bio" id="bio" class="bio-input form-control" maxlength="300" form="profile-form" rows="10" cols="50">{{bio}}</textarea>
    </div>
    <hr>
    <div class="d-grid gap-2">
      <button type="submit" id="profile-submit" class="btn btn-outline-dark mx-3">Submit</button>
      <a class="btn btn-outline-dark mx-3" href="/{{username}}">Back</a>
    </div>
<!--    <div class="d-grid gap-2">-->
<!--    </div>-->
  </div>
</form>
{{/with}}
