{{#with user}}
<div class="profile">
    <div class="profile-image">
        <img src="{{avatar}}" alt="Avatar" class="avatar">
    </div>
    <div class="profile-details">
        <div class="profile-name">{{name}}</div>
        <div class="profile-alias">{{username}}</div>
        <div class="follower-container">
            <div class="followers">
            <a href="../context/followers.html" class="text-dark link-underline link-underline-opacity-0 d-inline">
                <div class="fw-bold d-inline">{{followerCount}}</div> Followers
            </a>
            <a href="../context/followers.html" class="text-dark link-underline link-underline-opacity-0 d-inline mx-2  ">
                <div class="fw-bold d-inline">{{followingCount}}</div> Following
            </a>
            </div>
        </div>
    </div>
    <div class="profile-bio">
        {{bio}}
    </div>
</div>
{{/with}}

{{#if isSessionUser}}
    <a class="btn btn-light btn-outline-dark position-relative justify-content-center align-items-center my-1 mx-4" href="/{{user.username}}/edit">Edit Profile</a>
{{else}}
    <button class="btn btn-dark position-relative justify-content-center align-items-center my-1 mx-4" id="follow-button" onclick="changeFollowOption(event)" onmouseenter="hoverFollowButton(event)" onmouseleave="unHoverFollowButton(event)">Follow</button>
{{/if}}

<hr>

{{!-- <div class="post">
    <div class="post-header">
        <a href="../profile/my_profile.html">
            <img src="/images/extras/faker.png" alt="Avatar" class="avatar">
        </a>
        <div class="post-info">
            <span class="username">Lee Sang Hyeok</span>
            <span class="timestamp">1y ago</span>
        </div>
    </div>
    <div class="post-description">
        gg
    </div>
    <div class="post-images">
        <img src="/images/extras/faker_win.jpg" draggable="false" alt="Image 1" class="post-image">
        <img src="/images/extras/mvp.jpg" draggable="false" alt="Image 2" class="post-image">
    </div>
    <div class="post-actions">
        <span class="action like">
            <img src="../images/love-icon.png" style="width: 20px; height: 20px;" alt="Image 1">
            12
        </span>
        <span class="action comment">
            <img src="../images/comment-icon.png" style="width: 19px; height: 19px;" alt="Image 1">
            220
        </span>
    </div>
</div> --}}