{{#each posts}}
<div class="post card mb-1 border-0" onclick="redirectToPost('{{username}}', {{postId}})">
    <div class="post-header card-header d-flex align-items-center bg-white border-0" style="max-width: 95%;">
        <a href="/{{username}}" class="me-3">
            <img src="{{avatar}}" alt="Avatar" class="avatar rounded-circle" style="width: 40px; height: 40px;">
        </a>
        <div class="post-info w-100">
            <a href="/{{username}}" class="username text-dark">
                <div class="fw-bold" style="white-space: break-word; max-width: 90%">{{name}} ({{username}})</div>
            </a>
            <div class="timestamp text-muted small">{{timestamp}}</div>
        </div>
    </div>
    <div class="post-description card-body">
        {{description}}
    </div>
    <div class="post-images d-flex overflow-hidden gap-2 pe-3">
        {{#each imagePath}}
            <img src="{{this}}" draggable="false" alt="Image" class="post-image rounded">
        {{/each}}
    </div>
    <div class="post-actions card-footer d-flex bg-white border-0">
        <span class="action like me-3 d-flex align-items-center pe-2 ps-2" data-post-id="{{postId}}">
            <i class="bi {{#if isLiked}}bi-heart-fill{{else}}bi-heart{{/if}} fs-6 me-2 ms-1 like-icon"></i>
            <span class="like-count">{{likeCount}}</span>
        </span>
        <a href="/post/{{postId}}" class="text-decoration-none text-dark">
          <span class="action comment d-flex align-items-center pe-2 ps-2">
              <i class="bi bi-chat-left fs-6 me-2 ms-1"></i>
              {{commentCount}}
          </span>
        </a>
    </div>
</div>
{{#unless @last}}
        <hr style="margin: 0;">
{{/unless}}
{{/each}}
