{{#each posts}}
<div class="post card mb-3 border-0" onclick="redirectToPost({{postId}})">
    <div class="post-header card-header d-flex align-items-center bg-white border-0">
        <a href="/profile/profile.html" class="me-3">
        <img src="/{{avatar}}" alt="Avatar" class="avatar rounded-circle">
        </a>
        <div class="post-info">
            <div class="username fw-bold">{{username}}</div>
            <div class="timestamp text-muted small">{{timestamp}}</div>
        </div>
    </div>
    <div class="post-description card-body">
        {{description}}
    </div>
    <div class="post-images d-flex overflow-hidden gap-2 pe-3">
        <!-- Images here -->
        {{#each imagePath}}
            <img src="/{{this}}" draggable="false" alt="Image 3" class="post-image rounded">
        {{/each}}
    </div>
    <div class="post-actions card-footer d-flex bg-white border-0">
        <span class="action like me-3 d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-heart fs-4 me-2 ms-1 like-icon"></i>
            <span class="like-count">{{likeCount}}</span>
        </span>
        <span class="action comment d-flex align-items-center pe-2 ps-2">
            <i class="bi bi-chat-left fs-4 me-2 ms-1"></i>
            {{commentCount}}
        </span>
    </div>
</div>
{{/each}}